Flask
flask-cors
Flask-Login
Flask-SQLAlchemy
PyMySQL
python-dotenv
python-multipart
pytz
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scikit-video
scipy
shellingham
six
sk-video
smart-open
smmap
sniffio
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tinycss2
toml
torch
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
uvicorn
wasabi
watchdog
wcwidth
weasel
webencodings
Werkzeug
wrapt
yarg
gunicorn
